.DS_STORE
build
include/VST3
include/boost
include/JUCE
host/Builds/MacOSX/.idea
host/Builds/MacOSX/vst-js-host.xcodeproj/project.xcworkspace
host/Builds/MacOSX/vst-js-host.xcodeproj/xcuserdata
npm-debug.log
shared/
node_modules/
*.wav
