.DS_STORE
build
include/VST3
include/boost
include/JUCE
host/Builds/MacOSX/.idea
host/Builds/MacOSX/vst-js-host.xcodeproj/project.xcworkspace
host/Builds/MacOSX/vst-js-host.xcodeproj/xcuserdata
npm-debug.log
shared/
node_modules/
*.wav
.idea
.vscode
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug/
cmake-build-release/
boost-*
boost_system_jam-prefix
